<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>W3C Publishing Maintenance Working Group — Meeting Minutes</title>
        <link rel="stylesheet" type="text/css" href="https://www.w3.org/People/Ivan/StyleSheets/mystyle.css">
        <!-- <link rel="stylesheet" type="text/css" href="https://www.w3.org/StyleSheets/base.css"> -->
        <link rel="Help" href="https://www.w3.org/Help/">
        <style>
            h4, h5, h6 {
                border-bottom: 0px solid #ccc !important;
            }
        </style>
    </head>
    <body>
        <header>
            <p><a href="https://www.w3.org/"><img src="https://www.w3.org/StyleSheets/TR/2016/logos/W3C" alt=W3C border=0 height=48 width=72></a></p>
        </header>
    
        <h1>Publishing Maintenance Working Group — Meeting Minutes</h1>

        <p>These are the references of meeting minutes of the <a href="https://www.w3.org/2025/02/pmwg-charter.html">Publishing Maintenance Working Group</a> calls. For further details on the 
        Working Group, its resources, joining instructions, etc., see the <a href="https://www.w3.org/groups/wg/pm/">Working Group Home page</a>.
        See also the <a href="./resolutions.html">separate page</a> for the list of formal resolutions taken by the group.</p>
        </p>

        <div id="list-of-calls">

        </div>

        <footer>
            <p class="copyright">Copyright © <span id="year"></span> W3C <sup>®</sup> <a href="https://www.w3.org/Consortium/Legal/2002/ipr-notice-20021231">Usage policies apply</a>.</p>
        </footer>
    <body>
</html>
