name: Minutes 2 Github

on:
  push:
    branches:
      - main
    paths:
      - '**.html'

jobs:
  minutes_to_gh:
    runs-on: ubuntu-latest

    steps:
    - uses: pchampin/action_m2g@v1
      with:
        minutes-url-base: "https://w3c.github.io/pm-wg/minutes"
        minutes-repo-path: "minutes"
        m2g-token: ${{ secrets.M2G_TOKEN }}
        m2g-channel: pmwg
        m2g-group: wg/pm
        m2g-transcript: "true"
